<%- include('partials/header') %> 
<main>
    <section>
        <h2>Título del HOME</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam assumenda aliquam eligendi harum, animi omnis veniam neque tenetur inventore expedita eaque voluptas magnam sapiente optio non mollitia sunt voluptates autem.</p>
        <p>Bienvenido <%=user %> !!</p>
    </section>
</main>
<%- include('partials/footer') %> 

